
body {
    
    height: 100%;
    width: auto;
          
              }

#articlecorps {
    
     font-family: 'Arvo', serif;
              }
.corps        {
     position: absolute;
     top: 100px;
              }

.textecorps   {
    text-align:inherit;
     font-size:16px;
     font-weight:bold;
     position: absolute;
     top:125px;
     left:50px;
              }

.clickable {
   
     left:480px;
    bottom: -45px;
         }


a:hover {
    
    background-color: darkblue;
  display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5 opacity 0.2;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    opacity: 0.6;
}


